// Color Schemes
$color-primary: #416d8e;
$color-secondary: #e69c24;
$color-tertiary: #8b7357;
$color-background: #ffeccc;

// Other Variables
$border-radius: 8px;

// Padding
$base-padding: 4px;
$base-margin: 4px;
$base-gap: 4px;

// Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
